@import '../fonts/font-awesome.css';
p {
  color: #000;
}
/**
  For browsers, which not support rem some style duplicated in px
*/
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  background: linear-gradient(to bottom, #a2c5e4, #e7ecf0);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  overflow: hidden;
  height: 100%;
}
body:before {
  position: absolute;
  top: 0;
  width: 100%;
  content: '';
  border-top: 0.05rem solid #567893;
  z-index: 1;
}
@media (max-height: 300px) {
  body {
    overflow-y: scroll;
  }
}
@media (max-width: 320px) {
  body {
    overflow-x: scroll;
  }
}
/**
  STYLE for active and NON active tabs
*/
.fa_wrapper_footer {
  height: unset;
  margin: 0 1rem;
}
.fa_wrapper .fa-truck {
  font-size: 26px;
  transform: scaleX(-1);
  width: 28px;
  height: 28px;
  color: #477aa5;
  padding: 10px;
  border: 1px solid #477aa5;
  border-radius: 50%;
  cursor: pointer;
}
.active_tab_icon {
  border-bottom: 3px solid #477aa5;
}
.active_tab_icon .fa-truck {
  color: #fff;
  background: #477aa5;
}
/**
  END OF STYLE for active and NON active tabs
*/
.fa-search {
  font-size: 17px;
  height: 17px;
  color: #477aa5;
}
.fa-refresh {
  font-size: 17px;
  height: 17px;
  color: #477aa5;
}
.fa-angle-left {
  font-size: 24px;
  color: #477aa5;
}
.fa-envelope-o {
  font-size: 17px;
  height: 17px;
  color: #fff;
}
.grey_color {
  color: #606d76;
}
.blue_color {
  color: #477aa5;
}
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 1280px;
  min-width: 320px;
  height: 100%;
  box-shadow: 0 0 24px rgba(0,0,0,0.15);
}
@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
}
@media (max-height: 300px) {
  .container {
    min-height: 300px;
  }
}
.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background: #fff;
  border-right: 1px solid #ebebeb;
}
@media (max-width: 1067px) {
  .left {
    transform: translate3d(-320px, 0, 0);
    transition: all 1s;
    box-shadow: none;
    flex: none;
    width: 0;
    visibility: hidden;
    border-right: none;
  }
}
@media (min-width: 1067px) {
  .left {
    transform: translate3d(0px, 0, 0);
    transition: all 0.7s;
    flex: 1;
    border-right: 1px solid #ebebeb;
  }
}
.left_header {
  display: flex;
  flex-direction: column;
  height: 4rem;
  background-color: #fff;
  padding: 2px;
}
.left_header_count {
  height: 2rem;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_header_count a {
  position: absolute;
  left: 15px;
}
.left_header_search {
  display: flex;
  border: 1px solid #d3d3d3;
  height: 1.4rem;
  justify-content: flex-end;
}
.left_header_search_form {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: none;
  padding: 0 0 0 10px;
}
.left_header_search_form:focus-within .form_refresh {
  display: none;
}
.left_header_search_form .form_input {
  flex: 8;
  border: none;
  outline: none;
  width: 15rem;
  font-style: italic;
}
.left_header_search_form .form_wrapper_button {
  display: flex;
  flex-direction: row;
}
.left_header_search_form .form_search {
  flex: 1;
  outline: 0;
  outline-offset: 0;
  border: 0;
  background: none;
  cursor: pointer;
}
.left_header_search_form .form_refresh {
  flex: 1;
  outline: 0;
  outline-offset: 0;
  border: 0;
  background: none;
  cursor: pointer;
}
.left_content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
}
.left_content_elem {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 7.19rem;
  overflow: hidden;
  padding: 0.6rem 0 0 0;
}
.left_content_elem:hover {
  cursor: pointer;
  background-color: #e8eff7;
}
.left_content_elem p {
  margin: 0.5rem;
}
.left_content_elem_left {
  display: flex;
  flex-direction: column;
  flex: 1.3;
}
.left_content_elem_left .content_left_order {
  font-size: 1rem;
}
.left_content_elem_right {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-end;
}
.left_content_elem_right .content_right_date {
  font-size: 1.2rem;
}
.left_content_elem_right .content_right_status {
  margin-right: 19.2px;
}
.left_content_elem_right .Accepted {
  color: #32cd32;
}
.left_content_elem_right .Pending {
  color: #ffa500;
}
.left_content .js_active:hover {
  background-color: #e8eff7;
}
.left_content .js_active {
  background-color: #e8eff7;
}
.left_footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 auto;
  height: 2.5rem;
  background-color: #2f3c48;
  color: #fff;
  text-shadow: none;
  padding-right: 10px;
}
.left_footer a {
  color: #fff;
  margin: 0.5rem 1rem;
}
.left_footer i {
  font-size: 12px;
  color: #fff;
}
.left_footer .fa-filter {
  font-size: 17px;
  color: #fff;
}
.right {
  display: flex;
  flex-direction: column;
  flex: 3;
}
@media (max-width: 400px) {
  .right {
    width: 100%;
    flex: 1;
  }
}
.right_header {
  display: flex;
  flex-direction: column;
  background-color: #eff4f9;
  border-bottom: 1px solid #e1e9f0;
  color: #606d76;
  height: 2rem;
  text-align: center;
  font-size: 0.9rem;
  justify-content: center;
}
.right .p_1rem {
  padding: 1rem;
}
.right .m_1rem {
  margin: 1rem;
}
.right_content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fafafa;
  overflow-x: hidden;
  overflow-y: auto;
}
.right_content_top {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 150px;
}
@media (max-width: 600px) {
  .right_content_top {
    display: block;
    min-height: unset;
    flex: unset;
  }
}
.right_content_top_header {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}
.right_content_top_header_left {
  flex: 1;
  font-size: 1.2rem;
}
.right_content_top_header_left_bottom {
  margin: 2rem 0 0 0;
}
.right_content_top_header_left_bottom p {
  font-size: 0.8rem;
  line-height: 1.8rem;
}
.right_content_top_header_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
  font-size: 1.2rem;
}
.right_content_top_header .content_left_footer_price {
  font-size: 1.2rem;
}
.right_content_top_header .content_left_footer_currency {
  font-size: 0.8rem;
}
.right_content_middle {
  display: flex;
  flex-direction: column;
  min-height: 273px;
}
.right_content_middle_tabs {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  border-bottom: 4px solid rgba(211,223,233,0.3);
}
.right_content_middle_tabs .fa_wrapper {
  position: relative;
  top: 3px;
  margin: 0 30px 0 0;
}
.right_content_middle_tabs .fa_wrapper i {
  padding: 0 0 10px 0;
}
.right_content_middle_tabs .fa_wrapper .fa {
  font-size: 26px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 28px;
  height: 28px;
  color: #477aa5;
  padding: 10px;
  border: 1px solid #477aa5;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.right_content_middle_tabs .active_tab_icon {
  border-bottom: 3px solid #477aa5;
  padding: 0 0 10px 0;
}
.right_content_middle_tabs .active_tab_icon .fa {
  color: #fff;
  background: #477aa5;
}
.right_content_middle_info {
  position: relative;
  background: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 18px 0 0 0;
}
.right_content_middle_info .edit_bck_btn {
  border-bottom: none;
  padding: unset;
  position: absolute;
  right: 30px;
  top: 33px;
}
.right_content_middle_info_head div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #d3d3d3;
  padding: 0 0 1rem 1rem;
}
.right_content_middle_info_head div p {
  font-size: 1rem;
}
.right_content_middle_info_head_save {
  padding: 0 10px 0 10px;
}
.right_content_middle_info_head_cancel {
  padding: 0 10px 0 10px;
}
.right_content_middle_info_section {
  display: flex;
  flex-direction: row;
  padding: 0 0 1rem 0;
}
.right_content_middle_info_section .info_content_left {
  display: flex;
  flex: 3;
  justify-content: flex-end;
}
.right_content_middle_info_section .info_content_left ul {
  display: flex;
  flex-direction: column;
  flex: 0.8;
}
.right_content_middle_info_section .info_content_left ul li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  line-height: 1.7rem;
}
.right_content_middle_info_section .info_content_left ul li span {
  padding: 0 5px 0 0;
}
.right_content_middle_info_section .info_content_left ul li span:first-child {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.right_content_middle_info_section .info_content_left ul li span:last-child {
  display: flex;
  flex: 1;
}
.right_content_middle_info_section .info_content_right {
  display: flex;
  flex: 3;
}
@media screen and (max-width: 600px) {
  .right_content_middle_info_section {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 1rem 2rem;
  }
  .right_content_middle_info_section .info_content_left {
    justify-content: unset;
  }
  .right_content_middle_info_section .info_content_left ul {
    flex: 1;
  }
  .right_content_middle_info_section .info_content_left ul li {
    display: flex;
    margin: 0;
  }
  .right_content_middle_info_section .info_content_left ul li span {
    line-height: 23px;
  }
  .right_content_middle_info_section .info_content_left ul li span:first-child {
    justify-content: unset;
  }
  .right_content_middle_info_section .info_content_left ul li:last-child {
    margin: 0 0 0 0;
  }
}
.right_content_bottom {
  display: flex;
  flex-direction: column;
  flex: 1.8;
}
@media (max-width: 600px) {
  .right_content_bottom {
    min-height: unset;
  }
}
.right_content_bottom_header {
  display: flex;
  padding: 0.5rem;
}
.right_content_bottom_header p {
  font-size: 1rem;
}
.right_content_bottom_table_wrapper {
  display: flex;
  flex-direction: column;
}
.right_content_bottom_table_wrapper table_search,
.right_content_bottom_table_wrapper table {
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8rem;
}
.right_content_bottom_table_wrapper table_search thead tr,
.right_content_bottom_table_wrapper table thead tr {
  height: 1.9rem;
  border-bottom: 1px solid #ebebeb;
}
.right_content_bottom_table_wrapper table_search thead tr th,
.right_content_bottom_table_wrapper table thead tr th {
  background-color: #f7f7f7;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  font-weight: normal;
  width: 20%;
  padding: 0 16px;
}
.right_content_bottom_table_wrapper table_search tbody tr,
.right_content_bottom_table_wrapper table tbody tr {
  border-bottom: 1px solid #ebebeb;
}
.right_content_bottom_table_wrapper table_search tbody tr td,
.right_content_bottom_table_wrapper table tbody tr td {
  padding: 0 16px;
  height: 2.7rem;
}
.right_content_bottom_table_wrapper table_search tbody tr td:first-child,
.right_content_bottom_table_wrapper table tbody tr td:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.right_content_bottom_table_wrapper table_search .right_align,
.right_content_bottom_table_wrapper table .right_align {
  text-align: right;
}
.right_content_bottom_table_wrapper table_search .left_align,
.right_content_bottom_table_wrapper table .left_align {
  text-align: left;
}
.right_content_bottom_table_search {
  margin: 20px;
  display: flex;
  align-items: center;
}
.right_content_bottom_table_search a:nth-child(2) {
  padding-left: 10px;
}
@media screen and (max-width: 600px) {
  .right_content_bottom table {
    border: 0;
  }
  .right_content_bottom table thead {
    display: none;
  }
  .right_content_bottom table tbody tr td {
    height: unset;
    padding: 10px 10px;
  }
  .right_content_bottom table tbody tr td:first-child {
    display: block;
  }
  .right_content_bottom table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }
  .right_content_bottom table tr td:first-child strong:after {
    content: '\A';
    white-space: pre;
  }
  .right_content_bottom table tr td:first-child span:before {
    content: '\A';
    white-space: pre;
  }
  .right_content_bottom table td {
    display: block;
    text-align: right;
    border-bottom: none;
  }
  .right_content_bottom table td:last-child {
    border-bottom: 0;
  }
  .right_content_bottom table td:before {
    content: attr(data-label);
    float: left;
  }
}
.right_footer {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;
  height: 2.5rem;
  background-color: #2f3c48;
  color: #fff;
  text-shadow: none;
  align-items: center;
  padding-right: 5px;
}
.right_footer a {
  color: #fff;
}
.table_search {
  width: 40%;
}
@media screen and (max-width: 600px) {
  .table_search {
    width: 80%;
  }
}
.formCreateOrder {
  position: absolute;
  margin-left: -230px;
  left: 50%;
  top: -100%;
  background: #fff;
  border: 1px solid #333;
  z-index: 999;
  transition: all 0.3s ease-in;
}
.overflow {
  width: 100%;
  height: 100%;
  z-index: 998;
  background: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
}
.create_order_form {
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 20px;
}
.create_order_form .submit_btn {
  background: #327fc3;
  padding: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.create_order_form>div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.create_order_form>div span:nth-child(1) {
  padding-right: 7px;
}
.form_input_modal {
  outline: none;
  width: 15rem;
  height: 20px;
  font-style: italic;
}
.map_image {
  cursor: pointer;
}
.bigImage {
  width: 900px;
  background: url("/images/map.jpg");
  height: 500px;
  background-size: contain;
}
.hide_right_content {
  display: block;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.show_no_content {
  position: absolute;
}
.hide_no_content {
  position: relative;
  background-color: unset;
}
.wrapper_not_found {
  text-align: center;
  background-color: #eff4f9;
}
.refresh_list {
  text-align: center;
}
.refresh_list_Order {
  color: #327fc3;
}
.busy_indicators {
  text-align: center;
}
.show_busy {
  display: block;
}
.hide_busy {
  display: none;
}
.show_elem {
  display: block !important;
}
.hide_elem {
  display: none !important;
}
.not_valid {
  border: 1px solid #f00;
}
